<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="File" xsi:type="File" fileName=".\App_Data\Logs\${date:format=yyyyMMdd}.log"
            layout="${date}|${level:uppercase=true}|${threadid}|${message} ${exception:format=toString,Data}" />
    <target name="Console" xsi:type="ColoredConsole"
            layout="[${threadid}] ${message} ${exception:format=toString,Data}" />
  </targets>

  <rules>
    <logger name="*" writeTo="Console" />
    <logger name="*" writeTo="File" />
  </rules>
</nlog>